@page "/account"
@using BankApp.Shared.Entities

<h3>Kontoinformation</h3>

<DetailedAccountInformationHeader BankAccount="bankAccount" FromDate="fromDate" ToDate="toDate" />

@code{
    private BankAccount bankAccount;

    DateTime fromDate = DateTime.Today.AddMonths(-1);
    DateTime toDate = DateTime.Today;

    protected override void OnInitialized()
    {
        bankAccount = new BankAccount() { Id = "0123456789" };
    }

    public void SetFromDate(ChangeEventArgs e) // consider refactoring, kan plockas ut för att använda till transactions också
    {
        var year = int.Parse(e.Value.ToString().Substring(0, 4));
        var month = int.Parse(e.Value.ToString().Substring(5, 2));
        var day = int.Parse(e.Value.ToString().Substring(8, 2));

        fromDate = new DateTime(year, month, day);
        Console.WriteLine(fromDate);
        //var newFromDate = new DateTime((e.Value);
    }

    public void SetToDate(ChangeEventArgs e)
    {
        var year = int.Parse(e.Value.ToString().Substring(0, 4));
        var month = int.Parse(e.Value.ToString().Substring(5, 2));
        var day = int.Parse(e.Value.ToString().Substring(8, 2));

        toDate = new DateTime(year, month, day);
        Console.WriteLine(toDate);
        //var newFromDate = new DateTime((e.Value);
    }
}




