<div style="display:flex; flex-direction: column">
    <label for="from">Från</label>
    <input id="from" name="from" type="date" min="1969-01-01" max="@DateTime.Today.ToShortDateString()" @onchange="((e) => SetFromDate.InvokeAsync(e))" />
</div>
<div style="display:flex; flex-direction: column">
    <label for="to">Till</label>
    <input id="to" name="to" type="date" @onchange="((e) => SetToDate.InvokeAsync(e))" />
</div>

@code{

    [Parameter] public EventCallback<ChangeEventArgs> SetFromDate { get; set; }
    [Parameter] public EventCallback<ChangeEventArgs> SetToDate { get; set; }

}
