@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss
@inject AppStateContainer appState

@if (appState.IsAuth)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </div>
</div>

@code{


    public bool IsAuthenticated { get; set; }
    public void SetIsAuthenticated()
    {
        IsAuthenticated = !IsAuthenticated;
        Console.WriteLine(IsAuthenticated);
        StateHasChanged();
    }

    private bool isServerSide = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
        catch (Exception)
        {
            isServerSide = true;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isServerSide && firstRender)
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
    }
    protected override void OnParametersSet()
    {
        Console.WriteLine("state in main has changed");
        StateHasChanged();
    }
}