@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss
@inject AppStateContainer AppState
@implements IDisposable

@if (AppState.IsAuth)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </div>
</div>

@code{


    private bool isServerSide = false;

    protected override async Task OnInitializedAsync()
    {
        AppState.StateChanged += async (source, property) => await AppState_StateChanged(source, property);

        try
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
        catch (Exception)
        {
            isServerSide = true;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isServerSide && firstRender)
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
    }

    private async Task AppState_StateChanged(ComponentBase source, string property)
    {
        if (source != this)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (source, property) => await AppState_StateChanged(source, property);
    }
}