@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    private bool isServerSide = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
        catch (Exception)
        {
            isServerSide = true;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(isServerSide && firstRender)
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
    }
}