@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss
@inject AppStateContainer appState

@if (appState.IsAuth)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </div>
</div>

@code{

    public BankAccount BankAccount { get; set; } = new BankAccount();

    private bool isServerSide = false;

    protected override async Task OnInitializedAsync()
    {
        BankAccount.Categories = new List<Category>()
{
        new Category() { Name = "Mat", Color = "red" },
        new Category() { Name = "Kläder", Color = "pink" },
        new Category() { Name = "Transport", Color = "brown" },
        new Category() { Name = "Bostad", Color = "blue" },
        new Category() { Name = "Uteliv", Color = "yellow" },
        new Category() { Name = "Fritidsaktivitet", Color = "green" },
    };
        try
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
        catch (Exception)
        {
            isServerSide = true;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isServerSide && firstRender)
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
    }
}