<div style="display: flex; justify-content: space-between;">
    <p style="font-size: 16px">Transaktioner</p>
    <button class="btn btn-dark">Filtrera</button> @*// göra om till dropdowns.*@
    <button class="btn btn-dark">Tidsintervall</button>
</div>

@code {

}
